.snackbar {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  background-color: #303030;
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  white-space: nowrap;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.btn {
  background-color: transparent;
  color: #fff;
  text-decoration: underline;
}
